<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Businesses | Welcome</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/fontawesome.min.css">

</head>
<body>
<header class="header">
    <div class="container">
        <nav>
            <ul class="nav">
                <li class="WeConnect"><a href="index.html">WeConnect</a></li>
                <li class="WeConnect"><a href="business.html">Businesses</a></li>
                <li class="WeConnect"><a class="active" href="profile.html">Profile</a></li>
                <li class="login"><a href="index.html" class="right"><i class="fas fa-sign-in-alt"></i>LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="hero3">
    <div class="container">
        <div class="welcome_text" style="background-color: #ffffff; width: 50%; font-size: xx-large; opacity: 0.8">
            <p>Name: St. Pius X Academy Review</p>
            <p>Description: This is a good primary school <br>
                that was established in 2015 and has very <br>
                good KCPE results for 2017. Worth it <br> </p>
            <p>Time: 11:45</p>
            <p>Date: 1/02/2018</p>
            <p>Owner: That guy</p>

            <button class="register_button2" type="button">Edit </button>
        </div>
    </div>


</div>

<footer class="footer">
    <div class="container">
        <p>Copyright &copy; 2018. All rights reserved.</p>
    </div>
</footer>


</body>
</html>